/.idea/
/core/config.php
/core/email.php
/cache
/.vscode/
**/.DS_STORE
.DS_Store

## Make sure we don't upload any custom modules!
/modules/*
!/modules/Core
!/modules/Forum
/custom/panel_templates/*
/custom/templates/*
!/custom/panel_templates/Default
!/custom/templates/Default
!/custom/templates/DefaultRevamp

core/includes/cache/
custom/panel_templates/Default/craftingstore/
custom/panel_templates/Default/forms/
custom/panel_templates/Default/infractions/
custom/panel_templates/Default/mportal/
custom/panel_templates/Default/rules/
custom/panel_templates/Default/staff/
custom/panel_templates/Default/vote/
custom/panel_templates/Default/votingplugin/
custom/templates/Default/craftingstore/
custom/templates/Default/custom/
custom/templates/Default/forms/
custom/templates/Default/friends/
custom/templates/Default/infractions/
custom/templates/Default/modules/
custom/templates/Default/rules.tpl
custom/templates/Default/staff.tpl
custom/templates/Default/vote.tpl
custom/templates/Default/votingplugin/
custom/templates/DefaultRevamp/craftingstore/
custom/templates/DefaultRevamp/forms/
custom/templates/DefaultRevamp/friends/
custom/templates/DefaultRevamp/infractions/
custom/templates/DefaultRevamp/rules.tpl
custom/templates/DefaultRevamp/staff.tpl
custom/templates/DefaultRevamp/vote.tpl
custom/templates/DefaultRevamp/votingplugin/
tools/

uploads/backgrounds/
uploads/backgrounds/
uploads/profile_images/
uploads/template_banners/
uploads/avatars/
